@define-color accent_color @red_3;
@define-color accent_bg_color @red_1;

#moshbutton:hover {
  color: @red_2;
  background: @headerbar_bg_color;
}

#start:hover {
  color: @red_2;
  box-shadow: rgba(255, 23, 23, 0.4) 2px 3px 37px 3px;
}
